
<div class="custom-control custom-checkbox">
    <input @ref=inputElement class="custom-control-input" id="@ElementId" type="checkbox" checked="@isChecked" @onchange="OnChange" />
    <label class="custom-control-label" for="@ElementId">@ChildContent</label>
</div>
