<div class="container-fluid px-1 px-sm-0 py-2 py-sm-3 d-flex flex-grow-1">
    <div id="overlay-parent" class="row mx-0 flex-grow-1">

        <GoalListComponent />

        <SelectedGoalComponent />

    </div>
</div>