<div id="overlay" class="col-lg-12 col-xl-6 px-1 px-sm-3 d-flex">
    <div class="card flex-grow-1">

        <div class="card-body p-2 p-sm-3">

            @if (State.SelectedGoal != null)
            {
                if (DataService.HabitList.Except(State.SelectedGoal.HabitList).Any())
                {
                    <Select TValue="long" Size="@Theme.Size" SelectedValue="@State.SelectedGoalSelectedHabitId" SelectedValueChanged="async (long val) => { State.SelectedGoal.HabitList.Add(DataService.HabitDict[val]); State.SelectedGoalSelectedHabitId = 0; StateHasChanged(); }">
                        <SelectItem Value="0" disabled selected>Select</SelectItem>
                        @foreach (Habit habit in DataService.HabitList.Except(State.SelectedGoal.HabitList))
                        {
                            <SelectItem Value="@habit.Id">@habit.Description</SelectItem>
                        }
                    </Select>
                }

                @foreach (Habit habit in State.SelectedGoal.HabitList)
                {
                    <HabitComponent Habit="habit" />
                }
            }

        </div>

    </div>
</div>