@inherits LayoutComponentBase

<Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value="ididit!"></Microsoft.AspNetCore.Components.Web.Extensions.Head.Title>

@if (Theme.BootswatchThemeDict.ContainsKey(Theme.BootswatchTheme))
{
    <Microsoft.AspNetCore.Components.Web.Extensions.Head.Link rel="stylesheet" href="@("https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/" + Theme.BootswatchTheme + "/bootstrap.min.css")" integrity="@(Theme.BootswatchThemeDict[Theme.BootswatchTheme])" crossorigin="anonymous" />
}
else
{
    <Microsoft.AspNetCore.Components.Web.Extensions.Head.Link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
}

<div class="page">
    <div class="sidebar bg-dark">
        <NavMenu />
    </div>

    <div class="main d-flex flex-column">

        <Header />

        <div class="d-flex flex-grow-1">
            @*@Body*@
            <TheLastTime.Shared.Pages.Index />
        </div>
    </div>
</div>
