<div class="px-1 px-sm-3 py-2 py-sm-3">
    @if (DataService.Settings.ShowCategories)
    {
        <CategoryComponent />
    }

    @foreach (Goal goal in DataService.GoalList)
    {
        <div class="py-2 py-sm-3">
            <GoalComponent Goal="goal" />
        </div>
    }

    <Button Color="Color.Primary" Outline="true" Size="@Theme.Size" @onclick="@NewGoal"><span class="fa fa-fw fa-plus"></span></Button>
</div>