<div class="col-lg-12 col-xl-6 px-1 px-sm-3">

    @foreach (Habit habit in Filters.GetHabits(State.SelectedCategoryId, pinned: true))
    {
        <HabitComponent Habit="habit" />
    }

    @if (DataService.Settings.ShowCategories)
    {
        <CategoryComponent />
    }

    @foreach (Habit habit in Filters.GetHabits(State.SelectedCategoryId, pinned: false))
    {
        <HabitComponent Habit="habit" />
    }

    <div class="py-5"></div>

    <Button id="add-habit" class="btn btn-lg btn-primary rounded-circle" @onclick="@(() => { State.NewHabit(); })"><span class="fa fa-fw fa-plus"></span></Button>

</div>