
<div class="top-row navbar navbar-dark bg-primary">
    @if (DataService.Settings.ShowCategoriesInHeader)
    {
        <CategoryPaginationComponent />
    }
    <span class="navbar-text ml-auto header">&#169; 2020</span>
</div>