
<div class="card flex-grow-1 m-3">

    <div class="card-body p-2 p-sm-3">

        <Button class="close shadow-none" @onclick="@(() => {  })"><span class="fa fa-fw fa-times text-muted"></span></Button>

        <div><span class="fa fa-info-circle"></span> About</div>

        <div><span class="fa fa-question-circle"></span> Help</div>

    </div>

</div>
