
<div class="card flex-grow-1 m-2 m-sm-3" style="max-width: 768px">

    <div class="card-body p-2 p-sm-3">

        <Button class="close shadow-none" @onclick="@(async () => { DataService.Settings.ShowHelp = false; await DataService.SaveSettings(); })"><span class="fa fa-fw fa-times text-muted"></span></Button>

        <h4><span class="fa fa-info-circle"></span> About</h4>

        <div><span style="font-family: 'Caveat', cursive; font-size: 1.5em;">ididit! </span> is a habit tracking app that doesn't make you feel bad when you don't do something and instead helps you to stay on track:</div>

        <ul>
            <li>Instead of a streak, there is an average interval - you aren't punished for breaking a streak, you are encouraged to keep the average interval close to the desired interval.</li>
            <li>Instead of reminders, the app shows you how close to the average interval you are - there are no nagging alarms that you dismiss and forget about anyway.</li>
            <li>The app is fully customizable - you can turn any of its many features on or off.</li>
            <li>The app is completely private - it uses no cookies, nothing is sent back to the web server and it can work offline.</li>
        </ul>

        <h4><span class="fa fa-stopwatch"></span> Examples</h4>

        <p>To see what the app is capable of, you can load examples from the <span class="fa fa-fw fa-cog"></span> options menu.</p>

        <h4><span class="fa fa-question-circle"></span> Help</h4>

        <p>Most features are turned off by default. You can turn on the ones you like in the <span class="fa fa-fw fa-cog"></span> options menu:</p>

        <div>Settings:</div>
        <ul>
            <li>You can save different settings configurations and switch between them.</li>
        </ul>
        <div>Habit list:</div>
        <ul>
            <li>Search enables you to quickly find a habit.</li>
            <li>Date filter allows you to filter habits by done dates.</li>
            <li>With filters you can narrow the list of displayed habits.</li>
            <li>With advanced filters you can combine filter conditions.</li>
            <li>With sort you can order the habit by different properties.</li>
            <li>Index defines the habit's position in the list.</li>
            <li>With index settings you can change the habit's position in the list.</li>
        </ul>
        <div>Habit categories:</div>
        <ul>
            <li>You can group habits in different categories.</li>
            <li>You can also display the categories in the header for quick access.</li>
        </ul>
        <div>Habit:</div>
        <ul>
            <li>You can mark a habit as pinned to pin it at the top of the list.</li>
            <li>You can mark a habit as starred if it is important.</li>
            <li>You can mark a habit as a 2 min habit if it can be done quickly.</li>
            <li>You can write notes.</li>
        </ul>
        <div>Habit metrics:</div>
        <ul>
            <li>Average interval is calculated from all the dates and times of the habit.</li>
            <li>You can set a desired interval of the habit and compare it to the average interval.</li>
            <li>The ratio shows you the relation of the elapsed time to the average or the desired interval.</li>
            <li>In ratio options you can choose between the relation of the elapsed time to the average or the desired interval.</li>
            <li>You can see a list of all the times you have done the habit.</li>
        </ul>
        <div>Look and feel:</div>
        <ul>
            <li>You can see any options as a drop down control or as a list.</li>
            <li>You can set the size of the controls.</li>
            <li>You can choose between different themes.</li>
        </ul>
        <div>Your data:</div>
        <ul>
            <li>You can export categories and habits to a JSON or to a YAML file.</li>
            <li>You can import categories and habits from a JSON or from a YAML file.</li>
            <li>You can delete all app data.</li>
            <li>You can load example categories and habits.</li>
        </ul>

    </div>

</div>
