
<div class="top-row navbar navbar-dark bg-primary">
    <button id="toggle-nav-menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-text" href="">When was the last time?</a>

    <button class="navbar-toggler" @onclick="ToggleOptions">
        <span class="fa fa-cog"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    
    <SettingsComponent />

    @*<OptionsComponent />*@
    
</div>
