
#ididit {
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
    line-height: 1;
    padding: 2px;
}

.navbar {
    padding: 0.25rem 0.5rem;
}

/* On screens that are 768px or more, show the sidebar menu and hide the menu toggler  */
@media (min-width: 768px) {

    #toggle-nav-menu {
        display: none;
    }

    /* collapse is a bootstrap class */
    .sidebar .collapse {
        display: block !important;
    }
}
