
<div class="top-row navbar navbar-dark bg-primary px-2 px-sm-3 px-md-2">
    <button id="toggle-nav-menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="fa fa-fw fa-bars"></span>
    </button>

    <span class="navbar-text" role="button" id="ididit" @onclick="ShowHelp">ididit!</span>

    <button class="navbar-toggler" @onclick="ToggleOptions">
        <span class="fa fa-fw fa-cog"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    
    <SettingsComponent />

    @*<OptionsComponent />*@
    
</div>
