<div class="px-1 px-sm-3 py-2 py-sm-3">
    @if (DataService.Settings.ShowCategories)
    {
        <CategoryComponent />
    }

    @foreach (Note note in DataService.NoteList)
    {
        <div class="py-2 py-sm-3">
            <NoteComponent Note="note" />
        </div>
    }

    <Button Color="Color.Primary" Outline="true" Size="@Theme.Size" @onclick="@NewNote"><span class="fa fa-fw fa-plus"></span></Button>
</div>