
@if (DataService.Settings.ShowCategories)
{
    <CategoryComponent />
}

@foreach (Note note in DataService.NoteList)
{
    <NoteComponent Note="note" />
}

<Button Color="Color.Primary" Outline="true" Size="@Theme.Size" @onclick="@NewNote"><span class="fa fa-fw fa-plus"></span></Button>