
/* close is a bootstrap class */
::deep .close:focus {
    outline: none !important;
}

/* On screens that are 991.98px or less, set the habit details overlay width to 100% */
@media (max-width: 991.98px) {

    /* habit details overlay */
    #overlay {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
    }
}
