
@if (DataService.Settings.ShowCategories)
{
    <CategoryComponent />
}

@foreach (ToDo toDo in DataService.ToDoList)
{
    <TaskComponent ToDo="toDo" />
}

<Button Color="Color.Primary" Outline="true" Size="@Theme.Size" @onclick="@NewTask"><span class="fa fa-fw fa-plus"></span></Button>