/* On screens that are 991.98px or less, hide categories pagination */
@media (max-width: 991.98px) {

    ::deep .hide-pagination {
        display: none;
    }
}

/* On screens that are 992px or more, hide categories pagination */
@media (min-width: 992px) {

    ::deep .hide-pagination-lg {
        display: none;
    }
}
