<div class="col-lg-12 col-xl-6 px-1 px-sm-3">

    @foreach (Habit habit in Filters.GetHabits(State.SelectedCategoryId, pinned: true))
    {
        <HabitComponent Habit="habit" />
    }

    @if (DataService.Settings.ShowCategories)
    {
        <CategoryComponent />
    }

    @if (State.SelectedCategoryId == 0 && DataService.Settings.GroupByCategory)
    {
        @foreach (Category category in DataService.CategoryList)
        {
            @if (category.HabitList.Any())
            {
                <div class="py-1">
                    <span>@category.Description</span>
                    <span class="float-right">All habits: @category.HabitList.Count</span>
                </div>
            }

            @foreach (Habit habit in Filters.GetHabits(category.Id, pinned: false))
            {
                <HabitComponent Habit="habit" />
            }
        }
    }
    else
    {
        @foreach (Habit habit in Filters.GetHabits(State.SelectedCategoryId, pinned: false))
        {
            <HabitComponent Habit="habit" />
        }
    }

    <div class="py-5"></div>

    <Button id="add-habit" class="btn btn-lg btn-primary rounded-circle" @onclick="@(() => { State.NewHabit(); })"><span class="fa fa-fw fa-plus"></span></Button>

</div>