@inherits LayoutComponentBase

<div class="sidebar bg-primary">
    <NavMenu />
</div>

<div class="main d-flex flex-column">
    <div class="top-row p-2 navbar navbar-dark bg-primary">
        The Last Time
    </div>

    <div class="d-flex flex-grow-1">
        @Body
    </div>
</div>
