@inherits LayoutComponentBase

<div class="sidebar bg-dark">
    <NavMenu />
</div>

<div class="main d-flex flex-column">
    <div class="top-row navbar navbar-dark bg-primary">
        <span class="navbar-text">I did it!</span>
    </div>

    <div class="d-flex flex-grow-1">
        @Body
    </div>
</div>
