@inherits LayoutComponentBase

<div class="sidebar bg-dark">
    <NavMenu />
</div>

<div class="main d-flex flex-column">
    
    <TheLastTime.Shared.Header />

    <div class="d-flex flex-grow-1">
        @Body
    </div>
</div>
