@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-3 navbar navbar-dark bg-dark">
        The Last Time
    </div>

    <div class="p-3">
        @Body
    </div>
</div>
