@inherits LayoutComponentBase

<div class="sidebar bg-primary">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row p-3 navbar navbar-dark bg-primary">
        The Last Time
    </div>

    <div class="">
        @Body
    </div>
</div>
