
<div class="top-row navbar navbar-dark bg-primary">
    <a class="navbar-text" href="https://github.com/Jinjinov/TheLastTime" target="_blank"><span class="fab fa-github"></span></a>
    <a class="navbar-text" href="">When was the last time?</a>

    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    
    <TheLastTime.Components.SettingsComponent />

    <TheLastTime.Components.OptionsComponent />
    
</div>
