@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    display: flex;
    z-index: 3;
    position: relative;
}

.main {
    flex: 1;
}

.sidebar {
    /*align-self: flex-start;*/
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

#container-index {
    /*overflow: auto;*/
}

@media (max-width: 767.98px) {
    #container-index {
        position: relative;
    }

    #overlay {
        position: absolute; /* position: fixed; Sit on top of the page content */
        display: block; /* display: none; Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    }

    .main .top-row:not(.auth) {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
