@*@page "/"*@
@*@page "/{RouteParameter}"*@

@if (State.ShowOptions)
{
    <OptionsComponent />
}
else
{
    <div class="container-fluid px-1 px-sm-0 py-2 py-sm-3 d-flex flex-grow-1">
        <div id="overlay-parent" class="row mx-0 flex-grow-1">

            <div class="col-md-12 col-lg-6 px-1 px-sm-3">

                <HabitComponent Pinned="true" />

                @if (DataService.Settings.ShowCategories)
                {
                    <CategoryComponent />
                }

                <HabitComponent />

                <div class="py-5"></div>

                <Button id="add-habit" class="btn btn-lg btn-primary rounded-circle" @onclick="@(() => { State.NewHabit(); })"><span class="fa fa-fw fa-plus"></span></Button>
            </div>

            <SelectedHabitComponent />
        </div>
    </div>
}
